<div>
  <h2 id="page-heading" data-cy="CustomerOrderHeading">
    <span jhiTranslate="clothyApp.customerOrder.home.title">CustomerOrders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="clothyApp.customerOrder.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-order"
        [routerLink]="['/customer-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clothyApp.customerOrder.home.createLabel">Créer un nouveau Customer Order</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (customerOrders().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="clothyApp.customerOrder.home.notFound">Aucun Customer Order trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading" data-cy="entityTable">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orderNumber">
              <div class="d-flex">
                <span jhiTranslate="clothyApp.customerOrder.orderNumber">Order Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="clothyApp.customerOrder.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="total">
              <div class="d-flex">
                <span jhiTranslate="clothyApp.customerOrder.total">Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.email">
              <div class="d-flex">
                <span jhiTranslate="clothyApp.customerOrder.customer">Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (customerOrder of customerOrders(); track trackId(customerOrder)) {
            <tr>
              <td>
                <a [routerLink]="['/customer-order', customerOrder.id, 'view']">{{ customerOrder.id }}</a>
              </td>
              <td>{{ customerOrder.orderNumber }}</td>
              <td>{{ customerOrder.createdAt | formatMediumDatetime }}</td>
              <td>{{ customerOrder.total }}</td>
              <td>
                @if (customerOrder.customer) {
                  <div>
                    <a [routerLink]="['/customer', customerOrder.customer.id, 'view']">{{ customerOrder.customer.email }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/customer-order', customerOrder.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/customer-order', customerOrder.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(customerOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
