<header class="header">
  <div class="logo">
    <span class="brand">Clothy</span>
  </div>
  <a class="floating-cart" routerLink="/cart-page">
    <i class="fas fa-shopping-cart"></i>
    <span class="cart-count"></span>
  </a>

  <nav class="nav-links">
    <a href="#">Accueil</a>
    <a href="#">Hommes</a>
    <a href="#">Femmes</a>
    <a href="#">Enfants</a>
    <a href="#">Nouveautés</a>
  </nav>

  <div class="auth-buttons">
    <a class="alert-link" routerLink="/login">Se Connecter</a>
    <a class="alert-link" routerLink="/account/register">S'Inscrire</a>
  </div>
</header>
