<li>
  <a
    class="dropdown-item"
    routerLink="/category"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="collapseNavbar()"
  >
    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
    <span jhiTranslate="global.menu.entities.category">Category</span>
  </a>
</li>
<li>
  <a
    class="dropdown-item"
    routerLink="/product"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="collapseNavbar()"
  >
    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
    <span jhiTranslate="global.menu.entities.product">Product</span>
  </a>
</li>
<li>
  <a
    class="dropdown-item"
    routerLink="/customer"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="collapseNavbar()"
  >
    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
    <span jhiTranslate="global.menu.entities.customer">Customer</span>
  </a>
</li>
<li>
  <a
    class="dropdown-item"
    routerLink="/cart"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="collapseNavbar()"
  >
    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
    <span jhiTranslate="global.menu.entities.cart">Cart</span>
  </a>
</li>
<li>
  <a
    class="dropdown-item"
    routerLink="/cart-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="collapseNavbar()"
  >
    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
    <span jhiTranslate="global.menu.entities.cartItem">Cart Item</span>
  </a>
</li>
<li>
  <a
    class="dropdown-item"
    routerLink="/customer-order"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="collapseNavbar()"
  >
    <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
    <span jhiTranslate="global.menu.entities.customerOrder">Customer Order</span>
  </a>
</li>
<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
<header class="header">
  <div class="logo">
    <span class="brand">Clothy</span>
  </div>

  <a class="floating-cart" routerLink="/cart-page">
    <i class="fas fa-shopping-cart"></i>
    <span class="cart-count"></span>
  </a>

  <nav class="nav-links">
    <a href="#">Accueil</a>
    <a href="#">Hommes</a>
    <a href="#">Femmes</a>
    <a href="#">Enfants</a>
    <a href="#">Nouveautés</a>

    <div class="dropdown" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <a href="#" class="dropdown-toggle">Entities</a>
      <div class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="/category"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.category">Category</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/product"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.product">Product</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/customer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.customer">Customer</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/cart"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.cart">Cart</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/cart-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.cartItem">Cart Item</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/customer-order"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span jhiTranslate="global.menu.entities.customerOrder">Customer Order</span>
          </a>
        </li>
        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
      </div>
    </div>
  </nav>

  <div class="auth-buttons">
    <!-- Si pas connecté -->
    <ng-container *ngIf="!account()">
      <a class="alert-link" routerLink="/login">Se Connecter</a>
      <a class="alert-link" routerLink="/account/register">S'Inscrire</a>
    </ng-container>

    <!-- Si connecté -->
    <ng-container *ngIf="account() as user">
      <span>Bonjour, {{ user.firstName || user.login }}</span>
      <button class="btn-logout" (click)="logout()">Se Déconnecter</button>
    </ng-container>
  </div>
</header>
