<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customer(); as customerRef) {
      <div>
        <h2 data-cy="customerDetailsHeading"><span jhiTranslate="clothyApp.customer.detail.title">Customer</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customerRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="clothyApp.customer.email">Email</span></dt>
          <dd>
            <span>{{ customerRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="clothyApp.customer.firstName">First Name</span></dt>
          <dd>
            <span>{{ customerRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="clothyApp.customer.lastName">Last Name</span></dt>
          <dd>
            <span>{{ customerRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="clothyApp.customer.createdAt">Created At</span></dt>
          <dd>
            <span>{{ customerRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="clothyApp.customer.passwordHash">Password Hash</span></dt>
          <dd>
            <span>{{ customerRef.passwordHash }}</span>
          </dd>
          <dt><span jhiTranslate="clothyApp.customer.adress">Adress</span></dt>
          <dd>
            <span>{{ customerRef.adress }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/customer', customerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
