<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-order-heading"
        data-cy="CustomerOrderCreateUpdateHeading"
        jhiTranslate="clothyApp.customerOrder.home.createOrEditLabel"
      >
        Créer ou éditer un Customer Order
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="clothyApp.customerOrder.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let orderNumberRef = editForm.get('orderNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_orderNumber" jhiTranslate="clothyApp.customerOrder.orderNumber">Order Number</label>
          <input
            type="text"
            class="form-control"
            name="orderNumber"
            id="field_orderNumber"
            data-cy="orderNumber"
            formControlName="orderNumber"
          />
          @if (orderNumberRef.invalid && (orderNumberRef.dirty || orderNumberRef.touched)) {
            <div>
              @if (editForm.get('orderNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="clothyApp.customerOrder.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        @let totalRef = editForm.get('total')!;
        <div class="mb-3">
          <label class="form-label" for="field_total" jhiTranslate="clothyApp.customerOrder.total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (totalRef.invalid && (totalRef.dirty || totalRef.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="clothyApp.customerOrder.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.email }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_shippingAddress" jhiTranslate="clothyApp.customerOrder.shippingAddress"
            >Shipping Address</label
          >
          <select
            class="form-control"
            id="field_shippingAddress"
            data-cy="shippingAddress"
            name="shippingAddress"
            formControlName="shippingAddress"
            [compareWith]="compareAddress"
          >
            <option [ngValue]="null"></option>
            @for (addressOption of addressesSharedCollection; track $index) {
              <option [ngValue]="addressOption">{{ addressOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
